body {
    
}
.weightDiv{
    display:flex;
    flex-direction:column;
    background-color:#d1ffbd;
    padding:10px;
    
}
.weightDiv form{
    padding:10px;
    
}

.weightCont, .heightCont{
    display:flex;
    gap:10px;
    padding:10px;
    justify-content:space-between;
    align-items:center;
}
button{
    padding:5px;
    margin-top:10px;
    background-color:#d2ffd0;
}
table, th, td {
  border: 1px solid #d0ffbd;
}
table {
    width:300px;
}

.infoDiv{
    padding:5px;
    display:flex;
    
}



